body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.hex-color {
  text-transform: capitalize;
  color: white;
}

.hex {
  font-size: 3rem;
}

.hex-btn {
  padding: 0.5rem 0.7rem;
  font-size: 1rem;
  background: tan;
  border: 3px solid wheat;
  border-radius: 7px;
  text-transform: capitalize;
  outline: none;
}

.hex-btn:hover {
  background: salmon;
  color: brown;
}
